.popper {
    margin-top: 5px;
    min-height: 300px;
    max-height: calc(100vw - 100px);
    width: 100%;
    min-width: 100px;
    z-index: 50;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--background-color-default);
}

.popper-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
