.slide {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 5px;
}

.slide-title {
    position: relative;
    padding-bottom: 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120px;
        height: 2px;
        content: '';
        background: #000;
    }

    h2 {
        text-transform: uppercase;
    }
}

.more {
    &:hover .more-btn {
        color: red($color: #000000);
    }
}

.more-btn {
    font-size: var(--text-font-size-default);
}

.slide-inner {
    margin-top: 5px;
    height: auto;
    position: relative;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E")
        1;
}

.slide-items {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E")
        1;
}

.slide-prev,
.slide-next {
    height: 40px;
    width: 40px;
    position: absolute;
    top: calc(50% - 20px);
}

.slide-prev {
    left: -10px;
}

.slide-next {
    right: -10px;
}

.slide-btn {
    width: 100%;
    height: 100%;
    padding: 9px;
    border-radius: 999px;
    background-color: #aaa;
}
